<!DOCTYPE html>
<html>
  <head>
      <title>jQuery Forms</title>
      <script type="text/javascript" src="vendor/angular.min.js"></script>
      <script type="text/javascript" src="forms.js"></script>
      <link rel="stylesheet" href="form-style.css" />
  </head>
  <body ng-app="myApp">
    <h1>Angular Forms</h1>
    <div ng-controller="taskController">
      <form id="employeeinfo">
        <label for="emfirstName">Employee First Name:</label>
        <input ng-model="employee.emfirstName" type="text" id="emfirstName" name="emfirstName"/>

        <label for="emlastName">Employee Last Name:</label>
        <input ng-model="employee.emlastName" type="text" id="emlastName" name="emlastName"/>

        <label for="emID">Employee ID Number:</label>
        <input ng-model="employee.emID" type="text" id="emID" name="emID"/>

        <label for="emJT">Employee Job Title:</label>
        <input ng-model="employee.emJT" type="text" id="emJT" name="emJT"/>

        <label for="emYS">Employee Salary (Yearly):</label>
        <input ng-model="employee.emYS" type="number" id="emYS" name="emYS"/>

        <input id="emSubmit" ng-click="getEmployee()" type="submit"/>
      </form>

    <div id="container">
      <div class="employeeListing" ng-repeat="employee in emContent">
      <h2>{{ employee }}</h2>
      <button ng-click="delete(employee.emID)" class="delete">Remove Worker</button>
    </div>

    <div id="monthlySalary">
      <h2>Monthly Total: {{ (total /12).toFixed(2) }}</h2>
    </div>
    </div>
  </body>
</html>
